<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>Nombre:</td>
            <td>{{report.user_id.name}}</td>
        </tr>
        <tr>
            <td>descripcion de grupo:</td>
            <td>{{report.group_id.desc_group}}</td>
        </tr>
        <tr>
            <td>Nivel</td>
            <td>{{report.group_id.level}}</td>
        </tr>
        <tr>
            <td>Modalidad</td>
            <td>{{report.group_id.course_type}}</td>
        </tr>
        <tr>
            <td>Fecha de inscripcion</td>
            <td>{{report.enrollment_date}}</td>
        </tr>
        <tr>
            <td>
                Referencia de pago
            </td>
            <td>
                {{report.payment_reference}}
            </td>
        </tr>
</table>
</body> 
</html>