<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <a href="http://127.0.0.1:8000/api/users/userVerificate/{{pk}}/">Haz click aqui para verificar tu correo</a>
</body>
</html>