<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World Templates!!</h1>
    <p>Este es un template de ejemplo para mostrar el proceso de <i>render</i></p>
    {% for item in users %}
    <p>
        {{ item.user_id }} {{ item.name }} {{item.lastname}} {{item.email}} {{item.password}} 
        {{item.telephone}} {{item.birthdate}} {{item.is_verified}} {{item.verified_date}} {{item.last_modified}}
    </p>
    {% endfor %}
</body>
</html>